* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 14px;
  font-family: sans-serif;
}

body header {
  width: 100%;
}

body header div.header-top {
  width: 100%;
  padding: 5px 15%;
  background-color: #0282f9;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body header div.header-top ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

body header div.header-top ul li {
  margin-left: 50px;
}

body header div.header-top ul li a {
  color: #fff;
}

body header nav {
  width: 100%;
  height: 100px;
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body header nav a img {
  width: 60px;
}

body header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body header nav ul li {
  line-height: 100px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  border-bottom: 4px solid transparent;
}

body header nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #222;
}

body header nav ul li i {
  color: #0282f9;
  margin-left: 2px;
}

body header nav ul li.active {
  border-bottom: 4px solid #0282f9;
}

body header nav ul li.active a {
  color: #0282f9;
}

body header nav .input-cont {
  display: flex;
  align-items: center;
  padding: 0 2px;
  border-bottom: 3px solid #0282f9;
}

body header nav .input-cont i {
  color: #222;
}

body header nav .input-cont input {
  border: none;
  padding: 5px;
}

body header nav .input-cont input:focus {
  outline: none;
}

body header nav .input-cont ::-webkit-input-placeholder {
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
}

body header nav .input-cont :-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
}

body header nav .input-cont ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
}

body header nav .input-cont :-ms-input-placeholder {
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
}

body header .jumbotron {
  width: 100%;
  height: 320px;
  background-image: url("/storage/assets/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body main {
  width: 100%;
}

body main .comics-cont {
  width: 100%;
  padding: 50px 15% 10px 15%;
  background-color: #1c1c1c;
  position: relative;
}

body main .comics-cont .info-box {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: #0282f9;
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 15%;
  transform: translate(0, -50%);
}

body main .comics-cont .comics {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body main .comics-cont .comics a {
  margin: 10px;
}

body main .comics-cont .comics a .comic {
  max-width: 150px;
}

body main .comics-cont .comics a .comic .img-cont {
  max-width: 100%;
  max-height: 150px;
  overflow: hidden;
}

body main .comics-cont .comics a .comic .img-cont img {
  width: 100%;
}

body main .comics-cont .comics a .comic p {
  margin: 10px 0;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #fff;
}

body main .comics-cont a.button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  margin: 20px auto;
  background-color: #0282f9;
  color: #fff;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
}

body main .separator {
  width: 100%;
  background-color: #0282f9;
  color: #fff;
  padding: 30px 0;
  font-size: 0.8rem;
  position: relative;
}

body main .separator ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

body main .separator ul li {
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-transform: uppercase;
}

body main .separator ul li img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}

body main .separator div.cover {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 2px solid #fff;
  position: absolute;
  bottom: 20px;
  left: 20%;
}

body main .separator div.cover img {
  width: 150px;
}

body main .separator div.cover .label-top,
body main .separator div.cover .label-bottom {
  background-color: #00a9d9;
  color: #fff;
  padding: 2px;
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
}

body main .separator div.cover .label-top {
  width: 48%;
  top: 0;
  left: 0;
}

body main .separator div.cover .label-bottom {
  width: 100%;
  bottom: 0;
  left: 0;
}

body main .comic-details-cont {
  width: 100%;
  padding: 50px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .comic-details-cont .details-wrapper {
  display: flex;
  justify-content: center;
}

body main .comic-details-cont .details-wrapper .comic-details {
  text-align: left;
}

body main .comic-details-cont .details-wrapper .comic-details h2 {
  text-transform: uppercase;
}

body main .comic-details-cont .details-wrapper .comic-details .green-bar-wrapper {
  display: flex;
}

body main .comic-details-cont .details-wrapper .comic-details .green-bar-wrapper .green-bar-left,
body main .comic-details-cont .details-wrapper .comic-details .green-bar-wrapper .green-bar-right {
  padding: 15px 20px;
  margin: 10px 0;
  background-color: #55ba59;
  border-bottom: 1px solid #28572a;
}

body main .comic-details-cont .details-wrapper .comic-details .green-bar-wrapper .green-bar-left span,
body main .comic-details-cont .details-wrapper .comic-details .green-bar-wrapper .green-bar-right span {
  color: #fff;
}

body main .comic-details-cont .details-wrapper .comic-details .green-bar-wrapper .green-bar-left {
  width: 75%;
  color: #b3f689;
  display: flex;
  justify-content: space-between;
}

body main .comic-details-cont .details-wrapper .comic-details .green-bar-wrapper .green-bar-right {
  width: 25%;
  text-align: center;
  border-left: 1px solid #28572a;
  color: #fff;
  cursor: pointer;
}

body main .comic-details-cont .details-wrapper .comic-details p {
  font-size: 0.8rem;
  line-height: 2;
}

body main .comic-details-cont .details-wrapper .adv {
  text-align: right;
  margin-left: 50px;
}

body main .comic-details-cont .details-wrapper .adv img {
  width: 250px;
}

body main .info-list {
  width: 100%;
  padding: 50px 20%;
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

body main .info-list ul {
  width: 45%;
}

body main .info-list ul li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

body main .info-list ul li h2 {
  margin: 0 0 20px 0;
}

body main .info-list ul li .lists {
  width: 60%;
}

body main .info-list ul li .lists a {
  font-size: 0.8rem;
  color: #0282f9;
}

body main .info-list ul li .lists a.uppercase {
  text-transform: uppercase;
}

body footer {
  width: 100%;
}

body footer .footer-top {
  width: 100%;
  height: 315px;
  padding: 20px 15%;
  position: relative;
  background-image: url("/storage/assets/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body footer .footer-top .list-cont {
  max-width: 380px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
}

body footer .footer-top .list-cont .list-item {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-right: 20px;
}

body footer .footer-top .list-cont .list-item h2 {
  font-size: 1rem;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
}

body footer .footer-top .list-cont .list-item ul li a {
  font-size: 0.7rem;
  color: #888;
}

body footer .footer-top .list-cont .list-item ul li a:hover {
  color: #fff;
}

body footer .footer-top .copy {
  margin: 20px 0;
  font-size: 0.7rem;
  color: #888;
}

body footer .footer-top .copy a {
  color: #0282f9;
}

body footer .footer-top .logo-cont {
  width: 480px;
  height: 315px;
  position: absolute;
  top: 0;
  right: 15%;
  background-image: url("/storage/assets/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body footer .footer-bottom {
  width: 100%;
  padding: 30px 15%;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body footer .footer-bottom a.button {
  display: block;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  border: 2px solid #0282f9;
  text-transform: uppercase;
}

body footer .footer-bottom .social {
  display: flex;
  align-items: center;
}

body footer .footer-bottom .social span {
  margin-right: 20px;
  color: #0282f9;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

body footer .footer-bottom .social ul {
  display: flex;
  align-items: center;
}

body footer .footer-bottom .social ul li {
  margin: 0 10px;
}

body footer .footer-bottom .social ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

body footer .footer-bottom .social ul li a img {
  width: 30px;
}

