@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 14px;
    font-family: "Roboto", Sans-serif;

    @import 'header';
    @import 'main';
    @import 'footer';    
}
